.ME{
    margin: 11px;
    padding: 11PX;
    background-color:aqua;
}
.nidhi{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    
}
.ni{
    color: rgb(126, 34, 187);
}
.m2
{
    font-size: large;
color: black;
}

