

.top {
    background: #2196f3;
    padding: 5px 0px;
    border-bottom: 1px solid #3131315e;
}

.news{
    color: rgb(46, 16, 3);
    padding: 8px;
    font-size: 20px;
}

.marque{
    font-size: 18px;
    color: #ebf7e6;
    width: 100%;
}